/*floatの回り込みを解除*/
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}
.wrapper {
	width: 400px;
	margin: 0 auto;
}
.longred{
	height: 100px;
	background: #ff0000;
	position: relative;
}

.top-boxes {
	position: absolute;
	top: 20px;
	right: 20px;
	box-sizing: border-box;
	padding: 10px;
	background: #ffffff;
}

.box.small{
	float: left;
	width: 40px;
	height: 40px;
	background: #a9004b;
	margin-right: 10px;
}

.box.small:last-child {
  margin-right: 0;
}

.left{
	float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}

.right{
	position: relative;
	float: left;
	width: 250px;
	height: 250px;
	background: #8c2727;
	box-sizing: border-box;
}

.bottom-boxes{
	position: absolute;
	top: 40px;
	left: 40px;
}
.box.large{
	padding-top: 1px;
	width: 140px;
	height: 40px;
	background: #ff863f;
	border: 5px solid #ffffff;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.box.large:last-child {
  margin-bottom: 0;
}

.footer{
	width: 400px;
	height: 100px;
	background: #ffd000;
	position: relative;
}