/*floatの回り込みを解除*/
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}
.wrapper {
	width: 400px;
	margin: 0 auto;
	position: relative;
}
.longred{
	height: 100px;
	background: #ff0000;
	padding-right: 20px;
	position: relative;
}

.top-boxes {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	box-sizing: border-box;
}

.box-wrapper {
	float: left;
	background: #ffffff;
	padding: 10px;
}
.box.small{
	float: left;
	width: 40px;
	height: 40px;
	background: #a9004b;
}
.left{
	float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}

.right{
	float: left;
	width: 250px;
	height: 250px;
	background: #8c2727;
	padding: 10px;
	position: relative;
	box-sizing: border-box;
}

.bottom-boxes{
	padding-top: 40px;
  padding-left: 40px;
	position: relative;
}
.box.large{
	width: 140px;
	height: 40px;
	background: #ff863f;
	border: 5px solid #ffffff;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.footer{
	width: 400px;
	height: 100px;
	background: #ffd000;
	position: relative;
}
