/*floatの回り込みを解除*/
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}
.wrapper {
	width: 400px;
	margin: 0 auto;
}
.longred{
	height: 100px;
	background: #ff0000;
	position: relative;
}

.top-boxes {
	position: absolute;
	top: 25px;
	right: 25px;
	box-sizing: border-box;
	padding: 10px;
	background: #ffffff;
}

.box-wrapper {
	float: left;
	margin-right: 10px;
}

.box-wrapper:last-child {
	margin-right: 0;
}

.box.small{
	width: 40px;
	height: 40px;
	background: #a9004b;
	margin: 0;
}

.left{
	float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}

.right{
	float: left;
	width: 250px;
	height: 250px;
	background: #8c2727;
	position: relative;
	box-sizing: border-box;
}

.bottom-boxes{
	position: relative;
	top: 40px;
	left: 40px;
}
.box.large{
	width: 140px;
	height: 40px;
	background: #ff863f;
	border: 5px solid #ffffff;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.footer{
	width: 400px;
	height: 100px;
	background: #ffd000;
	position: relative;
}